h1{
    font-size: 1rem;
    color: green;
    font-weight: 600;
}

.card-home-image{
    margin-top: 16px;
}

.checkbox-select-all-options{
    width: 150px;
}

a:hover{
    text-decoration: none;
}

.card-title{
    width:100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

//footer
.footer {
    border-top: 2px solid #000;
    padding-top: 28px; 
    background-color: #343a40;
}

ul{
    list-style: none;
    padding: 0;
}

.footer__link{
    text-decoration: none;
    color: #9a9a9a;
}

.footer__heading{
    color: #fff;
    font-size: 20px;
}

.footer__item{
    color: #a9b3bb;
}

.footer__coppyright-heading{
    font-size: 12px;
    padding: 24px 0 12px 0;
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 100;
}