<footer class="mt-4 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="footer__heading">Courses Online</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Huy Blog</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Fa Mall</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h3 class="footer__heading">Về Quốc Huy</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Giới Thiệu Về Lê Quốc Huy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chính Sách Bảo Mật</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                 <h3 class="footer__heading">Theo Dõi Chúng Tôi Trên</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer__link-icon fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer__link-icon fab fa-facebook-messenger"></i>
                            Message
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer__link-icon fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__coppyright">
            <div class="grid wide">
                <h3 class="footer__coppyright-heading">© 2022 NodeJS Server Side Rendering</h3>
            </div>
        </div>
    </div>
</footer>